/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/p1zz4f1ght3r/Pictures/Wallpapers/Dark/undefined - Imgur.jpg");

    /* Special */
    --background: #050505;
    --foreground: #ABABAB;
    --cursor: #BEA28B;

    /* Colors */
    --color0:  #55524B;
    --color1:  #464646;
    --color2:  #677D6E;
    --color3:  #917461;
    --color4:  #95A089;
    --color5:  #D0986B;
    --color6:  #FFF0C6;
    --color7:  #7F7F7F;
    --color8:  #595959;
    --color9:  #464646;
    --color10: #677D6E;
    --color11: #917461;
    --color12: #95A089;
    --color13: #D0986B;
    --color14: #FFF0C6;
    --color15: #7F7F7F;
}
