/* CSS variables for Swaync
 * You can add it to wallust.toml with:

swaync = { src = "swaync.css", dst = "~/.config/swaync/colors.css" }

 * And then in you swaync 'style.css' file, import it with:

@import url("colors.css");
 */

 @define-color cursor #BEA28B;
 @define-color background #050505;
 @define-color foreground #ABABAB;
 @define-color color0  #55524B;
 @define-color color1  #464646;
 @define-color color2  #677D6E;
 @define-color color3  #917461;
 @define-color color4  #95A089;
 @define-color color5  #D0986B;
 @define-color color6  #FFF0C6;
 @define-color color7  #7F7F7F;
 @define-color color8  #595959;
 @define-color color9  #464646;
 @define-color color10 #677D6E;
 @define-color color11 #917461;
 @define-color color12 #95A089;
 @define-color color13 #D0986B;
 @define-color color14 #FFF0C6;
 @define-color color15 #7F7F7F;
 