/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/p1zz4f1ght3r/Pictures/Wallpapers/Dark/pple-carplay-ios-26-4000x2182-23298.jpg");

    /* Special */
    --background: #03030E;
    --foreground: #AAA9B6;
    --cursor: #B791B3;

    /* Colors */
    --color0:  #4C444D;
    --color1:  #43415E;
    --color2:  #5D5E9E;
    --color3:  #926A88;
    --color4:  #8563C8;
    --color5:  #C479B0;
    --color6:  #948EE4;
    --color7:  #7D7C8F;
    --color8:  #585764;
    --color9:  #43415E;
    --color10: #5D5E9E;
    --color11: #926A88;
    --color12: #8563C8;
    --color13: #C479B0;
    --color14: #948EE4;
    --color15: #7D7C8F;
}
