/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/p1zz4f1ght3r/P1ZZ4F1GHT3RS-Hyprland-Dotfiles/Pictures/Pictures/Wallpapers/Dark/rick-sanchez-4k-2020-wg-2560x1440.jpg");

    /* Special */
    --background: #040505;
    --foreground: #ABABAC;
    --cursor: #9CA6AF;

    /* Colors */
    --color0:  #423B3C;
    --color1:  #454648;
    --color2:  #917177;
    --color3:  #5D8163;
    --color4:  #627C98;
    --color5:  #8DA1B2;
    --color6:  #71AF74;
    --color7:  #7F7F80;
    --color8:  #59595A;
    --color9:  #454648;
    --color10: #917177;
    --color11: #5D8163;
    --color12: #627C98;
    --color13: #8DA1B2;
    --color14: #71AF74;
    --color15: #7F7F80;
}
