* {
    color: #AAA9B6;
    background: #03030E;
    border: none;
    border-radius: 10px;
}

.monitor {
    padding: 10px 6px;
}

.workspace {
    margin: 0 4px;
}

.index {
    color: #5D5E9E;
    background: #03030E;
    border-radius: 10px;
    padding: 3px;
}

.client {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 3px solid var(--border-color);
}

.client_active {
    border: 3px solid #948EE4;
}
