/* CSS variables for wlogout
 * You can add it to wallust.toml with:

waybar = { src = "wlogout.css", dst = "~/.config/wlogout/colors.css" }

 * And then in you wlogout 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #B791B3;
@define-color background #03030E;
@define-color foreground #888792;
@define-color color0  #4C444D;
@define-color color1  #43415E;
@define-color color2  #5D5E9E;
@define-color color3  #926A88;
@define-color color4  #8563C8;
@define-color color5  #C479B0;
@define-color color6  #948EE4;
@define-color color7  #7D7C8F;
@define-color color8  #585764;
@define-color color9  #43415E;
@define-color color10 #5D5E9E;
@define-color color11 #926A88;
@define-color color12 #8563C8;
@define-color color13 #C479B0;
@define-color color14 #948EE4;
@define-color color15 #7D7C8F;
