/* CSS variables for wlogout
 * You can add it to wallust.toml with:

waybar = { src = "wlogout.css", dst = "~/.config/wlogout/colors.css" }

 * And then in you wlogout 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #9CA6AF;
@define-color background #040505;
@define-color foreground #89898A;
@define-color color0  #423B3C;
@define-color color1  #454648;
@define-color color2  #917177;
@define-color color3  #5D8163;
@define-color color4  #627C98;
@define-color color5  #8DA1B2;
@define-color color6  #71AF74;
@define-color color7  #7F7F80;
@define-color color8  #59595A;
@define-color color9  #454648;
@define-color color10 #917177;
@define-color color11 #5D8163;
@define-color color12 #627C98;
@define-color color13 #8DA1B2;
@define-color color14 #71AF74;
@define-color color15 #7F7F80;
